body {
  font-family: helvetica, sans-serif;
  line-height: 20px;
}

.header {
  height: 70px;
  width: 100%;
  border: 0 0 1px 0;
  border-color: black;
  margin: 15px 0;
}

.marquee {
  font-size: 40px;
}

.main {
  margin: 15px;
}

.article {
  margin: 30px;
  width: 45vw;
}

.project-name {
  font-size: 30px;
  margin: 15px 0;
}

.project-description {
  margin: 15px 0;
}