body {
  font-family: helvetica, sans-serif;
  line-height: 20px;
}

.header {
  height: 70px;
  width: 100%;
  margin: 0 0 15px 0;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 6px #88888883;
  padding: 15px;
  max-width: 98vw;
}

.head-container {
  display: flex;
  flex-direction: column;
}

.marquee {
  font-size: 40px;
  margin: 15px;
  font-weight: 300;
  color: rgb(87, 86, 86);
}

.subhead {
  text-align: right;
  font-size: 20px;
  margin: 0 15px 15px 15px;
  font-weight: 200;
  color: rgb(122, 122, 122);
}

.main {
  margin: 15px;
}



.article {
  margin: 30px;
  padding: 25px;
  width: 45vw;
  border-radius: 10px;
  box-shadow: 0 3px 6px #88888883;
}

.project-name {
  font-size: 30px;
  margin: 15px 0;
}

.hidden-container {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.content-container {
  display: flex;
  width: 85vw;
  background-color: blue;
  justify-content: space-between;
  align-items: center;
}

.project-description {
  margin: 15px;
  width: 40vw;
  background-color: pink;
}

.thumbnail-container {
  background-color: orange;
}

.thumbnail {
  width: 15vw;
  height: 15vw;
  border: dashed black 1px;
  margin: 15px;
}

.article:hover {
  width: 90vw;
  transition: .2s;
}

.article:hover > .hidden-container {
  width: 85vw;
  height: 25vw;
  display: flex;
  flex-direction: column;
  transition: .25s;
}






