@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap');@import url('https://fonts.googleapis.com/css2?family=Lora&family=Source+Sans+Pro:wght@200;300;400&family=Spectral:ital,wght@0,200;0,300;1,200&display=swap');

body {
  font-family: helvetica, sans-serif;
  line-height: 20px;
  background-color: rgb(255, 255, 255);
}

body a {
  text-decoration: none;
  color: rgb(122, 122, 122);
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

body a:hover {
  font-size: 25px;
  transition: .2s;
}

.header {
  height: 70px;
  width: 100%;
  margin: 0 0 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 6px #88888883;
  padding: 15px;
  max-width: 98vw;
  background-color: rgb(65, 102, 224);
}

.head-container {
  display: flex;
  flex-direction: column;
}

.marquee {
  font-size: 40px;
  margin: 15px;
  font-weight: 200;
  font-family: 'Source Sans Pro', sans-serif;
  color: rgb(235, 233, 233);
}

.subhead {
  text-align: right;
  font-size: 20px;
  margin: 0 15px 15px 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: rgb(229, 226, 226);
}

.nav-container {

}

.nav {
  list-style: none;
}

.navlink {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: rgb(229, 226, 226);
  display: inline;
  margin: 0 15px;
}

.main {
  margin: 15px;
}

.intro-container {
  margin: 30px;
}

.intro {
  font-family: 'Spectral', serif;
  font-weight: 200;
  color: rgb(122, 122, 122);
  line-height: 35px;
  font-size: 25px;
}

.work {
  margin: 30px;
  color: rgb(122, 122, 122);
  font-family: 'Spectral', serif;
  font-weight: 300;
  font-size: 20px;
}

.links {
  line-height: 35px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.links a {
  color: rgb(233, 231, 231);
}

.article {
  margin: 30px;
  padding: 25px;
  width: 45vw;
  border-radius: 10px;
  box-shadow: 0 3px 6px #88888883;
  background-color: rgb(65, 102, 224);
}

.project-name {
  font-size: 30px;
  margin: 15px 0;
  color: rgb(235, 233, 233);
  font-weight: 200;
  font-family: 'Source Sans Pro', sans-serif;
}

.languages {
  color: rgb(233, 231, 231);
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}

.hidden-container {
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.content-container {
  display: flex;
  width: 85vw;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.project-description {
  margin: 15px;
  width: 40vw;
  line-height: 35px;
  color: rgb(235, 233, 233);
  font-family: 'Spectral', serif;
  font-weight: 200;
  font-size: 22px;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  width: 40vw;
}

.thumbnail {
  width: 15vw;
  height: 15vw;
  border: dashed black 1px;
  margin: 15px;
}

.article:hover {
  width: 90vw;
  transition: .2s;
}

.article:hover > .hidden-container {
  width: 85vw;
  height: auto;
  display: flex;
  flex-direction: column;
  transition: .25s;
}






